## Escribir un programa que pregunte al usuario o genere las ventas de los últimos 5 días, y muestre por pantalla una serie (Dataframe) con los datos de las ventas por producto (opcional): Nro de unidades y precio unitario, indexada por los días, antes y después de aplicarles un descuento del 5%.

In [2]:
# Importar las librerías necesarias
import pandas as pd
import numpy as np

# Función para generar datos de ventas aleatoriamente
def generar_ventas():
    productos = ['Producto A', 'Producto B', 'Producto C']  # Lista de productos
    datos = []

    for dia in range(1, 6):  # Últimos 5 días
        for producto in productos:
            unidades = np.random.randint(1, 21)  # Número de unidades entre 1 y 20
            precio_unitario = np.random.uniform(5, 50)  # Precio unitario entre 5 y 50
            total_venta = unidades * precio_unitario
            descuento = total_venta * 0.05
            total_con_descuento = total_venta - descuento
            datos.append([f"Día {dia}", producto, unidades, precio_unitario, total_venta, total_con_descuento])

    # Crear un DataFrame con los datos
    columnas = ['Día', 'Producto', 'Unidades', 'Precio Unitario', 'Total Venta', 'Total con Descuento']
    df = pd.DataFrame(datos, columns=columnas)
    return df

# Función para que el usuario ingrese los datos manualmente
def ingresar_ventas():
    productos = []
    print("Ingresa los nombres de los productos (3 productos):")
    for _ in range(3):
        producto = input(f"Nombre del producto {_+1}: ")
        productos.append(producto)

    datos = []
    for dia in range(1, 6):  # Últimos 5 días
        for producto in productos:
            print(f"\nDía {dia} - {producto}")
            unidades = int(input("Ingresa el número de unidades vendidas: "))
            precio_unitario = float(input("Ingresa el precio unitario: "))
            total_venta = unidades * precio_unitario
            descuento = total_venta * 0.05
            total_con_descuento = total_venta - descuento
            datos.append([f"Día {dia}", producto, unidades, precio_unitario, total_venta, total_con_descuento])

    # Crear un DataFrame con los datos
    columnas = ['Día', 'Producto', 'Unidades', 'Precio Unitario', 'Total Venta', 'Total con Descuento']
    df = pd.DataFrame(datos, columns=columnas)
    return df

# Función principal
def main():
    print("¿Cómo deseas obtener los datos de ventas?")
    print("1: Generarlos automáticamente")
    print("2: Ingresarlos manualmente")
    opcion = input("Elige una opción (1 o 2): ")

    if opcion == '1':
        df = generar_ventas()
    elif opcion == '2':
        df = ingresar_ventas()
    else:
        print("Opción no válida. Generando datos automáticamente por defecto.")
        df = generar_ventas()

    # Mostrar el DataFrame resultante
    print("\nDatos de ventas de los últimos 5 días:")
    print(df)

# Ejecutar el programa principal
main()

¿Cómo deseas obtener los datos de ventas?
1: Generarlos automáticamente
2: Ingresarlos manualmente
Elige una opción (1 o 2): 1

Datos de ventas de los últimos 5 días:
      Día    Producto  Unidades  Precio Unitario  Total Venta  \
0   Día 1  Producto A        10        44.025815   440.258150
1   Día 1  Producto B         7        36.638202   256.467415
2   Día 1  Producto C        11         9.982153   109.803681
3   Día 2  Producto A         1        16.460205    16.460205
4   Día 2  Producto B         8        13.381508   107.052060
5   Día 2  Producto C        20        29.385451   587.709018
6   Día 3  Producto A        10        49.986553   499.865530
7   Día 3  Producto B         9        41.183505   370.651547
8   Día 3  Producto C         9        15.135542   136.219881
9   Día 4  Producto A        11        18.981800   208.799795
10  Día 4  Producto B        14        45.481091   636.735268
11  Día 4  Producto C         3        36.787920   110.363760
12  Día 5  Producto A         4        30.027977   120.111909
13  Día 5  Producto B         6        33.546823   201.280935
14  Día 5  Producto C         5        12.062049    60.310246

    Total con Descuento
0            418.245242
1            243.644044
2            104.313497
3             15.637194
4            101.699457
5            558.323567
6            474.872253
7            352.118969
8            129.408887
9            198.359805
10           604.898505
11           104.845572
12           114.106313
13           191.216889
14            57.294733

## Escribir un programa que reciba un diccionario con los ingresos mensuales de los clientes de una empresa, y devuelva una serie con el ingreso mínimo, máximo y media.  El resultado final debe ser una serie con los estadísticos.

In [3]:
# Importar la librería pandas
import pandas as pd

# Función para calcular los estadísticos
def calcular_estadisticos(ingresos):
    """
    Recibe un diccionario con los ingresos mensuales de los clientes.
    Devuelve una serie con el ingreso mínimo, máximo y media.
    """
    # Convertir los valores del diccionario a una serie de pandas
    ingresos_serie = pd.Series(ingresos.values())
    
    # Calcular los estadísticos
    estadisticos = pd.Series({
        'Ingreso Mínimo': ingresos_serie.min(),
        'Ingreso Máximo': ingresos_serie.max(),
        'Ingreso Promedio': ingresos_serie.mean()
    })
    
    return estadisticos

# Ejemplo de uso
ingresos_clientes = {
    'Cliente 1': 1200,
    'Cliente 2': 2500,
    'Cliente 3': 1800,
    'Cliente 4': 3000,
    'Cliente 5': 1700
}

# Llamar a la función y mostrar el resultado
resultado = calcular_estadisticos(ingresos_clientes)
print("Estadísticos de los ingresos:")
print(resultado)

Estadísticos de los ingresos:
Ingreso Mínimo      1200.0
Ingreso Máximo      3000.0
Ingreso Promedio    2040.0
dtype: float64

## Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la siguiente tabla: 
## Mes Ventas Gastos 
## Enero 30500 22000 
## Febrero 35600 23450 
## Marzo 28300 18100 
## Abril 33900 35700 
## Mayo 42500 32450 
## A continuación, generar nuevas columna: 
## 1. Columna 1 = Gasto/Ventas*100. 
## 2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”. 
## 3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto. 4. Obtener el total de las ventas de los últimos 3 meses 5. Obtener el total de gastos de febrero a abril

In [4]:
# Importar la librería pandas
import pandas as pd

# Crear el DataFrame inicial
datos = {
    "Mes": ["Enero", "Febrero", "Marzo", "Abril", "Mayo"],
    "Ventas": [30500, 35600, 28300, 33900, 42500],
    "Gastos": [22000, 23450, 18100, 35700, 32450]
}
df = pd.DataFrame(datos)

# 1. Generar la columna Gasto/Ventas*100
df["Gasto/Ventas (%)"] = (df["Gastos"] / df["Ventas"]) * 100

# 2. Generar la columna para verificar si la meta fue superada
df["Meta Superada"] = df["Ventas"].apply(lambda x: "Meta Superada" if x >= 30000 else "Meta no Superada")

# 3. Generar la columna para calcular el sobre gasto
df["Sobre Gasto"] = df.apply(lambda row: row["Gastos"] - row["Ventas"] if row["Gastos"] > row["Ventas"] else 0, axis=1)

# 4. Calcular el total de ventas de los últimos 3 meses
total_ventas_ultimos_3_meses = df["Ventas"][-3:].sum()

# 5. Calcular el total de gastos de febrero a abril
gastos_febrero_abril = df.loc[1:3, "Gastos"].sum()

# Mostrar el DataFrame modificado y los resultados adicionales
print("DataFrame modificado:")
print(df)

print("\nTotal de ventas de los últimos 3 meses:", total_ventas_ultimos_3_meses)
print("Total de gastos de febrero a abril:", gastos_febrero_abril)

DataFrame modificado:
       Mes  Ventas  Gastos  Gasto/Ventas (%)     Meta Superada  Sobre Gasto
0    Enero   30500   22000         72.131148     Meta Superada            0
1  Febrero   35600   23450         65.870787     Meta Superada            0
2    Marzo   28300   18100         63.957597  Meta no Superada            0
3    Abril   33900   35700        105.309735     Meta Superada         1800
4     Mayo   42500   32450         76.352941     Meta Superada            0

Total de ventas de los últimos 3 meses: 104700
Total de gastos de febrero a abril: 77250

## Con el siguiente fichero datos_seguros.csv contiene información de riesgo de clientes de un banco. Escribir un programa con los siguientes requisitos:  1. Generar un DataFrame con los datos del fichero.  2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, mostrar las 10 primeras filas y las 10 últimas filas, verificar si tiene datos perdidos/nulos.  3. Extraer las 1000 primeras filas y almacenarlas en un contenedor.  4. Tabla de doble entrada y media.

In [6]:
import pandas as pd

# Cargar el archivo CSV con el delimitador correcto
ruta_archivo = 'datos_seguros.csv'
df = pd.read_csv(ruta_archivo, sep=";")

# Verificar la estructura del DataFrame
print("Dimensiones del DataFrame:", df.shape)
print("Número total de datos:", df.size)
print("Nombres de columnas:", df.columns.tolist())
print("Primeros 10 índices (filas):", df.index[:10].tolist())
print("\nTipos de datos de las columnas:\n", df.dtypes)

# Mostrar las 10 primeras y 10 últimas filas
print("\nPrimeras 10 filas:")
print(df.head(10))
print("\nÚltimas 10 filas:")
print(df.tail(10))

# Verificar si hay datos nulos
print("\n¿Datos nulos en el DataFrame?")
print(df.isnull().sum())

# Extraer las primeras 1000 filas
contenedor = df.head(1000)
print("\nContenedor de las primeras 1000 filas:")
print(contenedor.info())

# Crear la tabla de doble entrada y calcular la media
# Reemplazar 'genero', 'departamento', 'saldo_bco_t2' con los nombres correctos de las columnas
columna1 = 'SEXO'  # Cambiar si tiene otro nombre
columna2 = 'DEPARTAMENTO'  # Cambiar si tiene otro nombre
columna_numerica = 'SALDO_BCO_T2'  # Cambiar si tiene otro nombre

tabla_doble_entrada = pd.crosstab(df[columna1], df[columna2], values=df[columna_numerica], aggfunc='mean')

# Mostrar la tabla de doble entrada
print("\nTabla de doble entrada con la media:")
print(tabla_doble_entrada)

Dimensiones del DataFrame: (45798, 17)
Número total de datos: 778566
Nombres de columnas: ['MES_T0', 'VENTA_SEGURO', 'NUM_TC_TOTAL_T2', 'SALDO_BCO_T2', 'LINEA_BCO_T2', 'USO_LINEA_BCO_T2', 'Nro_CTa_Ahorro_Bco_T1', 'Ahorro_Sldo_Bco_T1', 'monto_ope_t2', 'PROM_ANUAL_MTO_OPERA', 'MAX_MTO_OPERA_Anual', 'Ratio_HospvsMtoTotal_t2', 'SEXO', 'ANTIGUEDAD_MES', 'DEPARTAMENTO', 'SOW_BCO_T2', 'SOW_BCO_SEMESTRAL']
Primeros 10 índices (filas): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Tipos de datos de las columnas:
 MES_T0                       int64
VENTA_SEGURO                 int64
NUM_TC_TOTAL_T2            float64
SALDO_BCO_T2               float64
LINEA_BCO_T2               float64
USO_LINEA_BCO_T2           float64
Nro_CTa_Ahorro_Bco_T1      float64
Ahorro_Sldo_Bco_T1         float64
monto_ope_t2               float64
PROM_ANUAL_MTO_OPERA       float64
MAX_MTO_OPERA_Anual        float64
Ratio_HospvsMtoTotal_t2    float64
SEXO                        object
ANTIGUEDAD_MES               int64
DEPARTAMENTO                object
SOW_BCO_T2                 float64
SOW_BCO_SEMESTRAL          float64
dtype: object

Primeras 10 filas:
   MES_T0  VENTA_SEGURO  NUM_TC_TOTAL_T2  SALDO_BCO_T2  LINEA_BCO_T2  \
0  201506             0              3.0           0.0        2300.0
1  201506             0              2.0        3215.0        3500.0
2  201506             0              1.0        3169.0        5000.0
3  201506             1              1.0        6495.0        8450.0
4  201506             0              NaN           NaN           NaN
5  201506             0              3.0        2373.0        9373.0
6  201506             0              2.0           0.0           0.0
7  201506             0              1.0        3023.0       16720.0
8  201506             0              1.0        1931.0       12500.0
9  201506             0              NaN           NaN           NaN

   USO_LINEA_BCO_T2  Nro_CTa_Ahorro_Bco_T1  Ahorro_Sldo_Bco_T1  monto_ope_t2  \
0          0.000000                    0.0                 0.0         15.00
1          0.918571                    0.0                 0.0        548.98
2          0.633800                    0.0                 0.0          0.00
3          0.768639                    2.0               505.0       2137.94
4               NaN                    0.0                 0.0         12.37
5          0.253174                    0.0                 0.0        411.86
6          0.000000                    1.0              2662.0         46.00
7          0.180801                    0.0                 0.0       2982.90
8          0.154480                    0.0                 0.0        412.00
9               NaN                    2.0             40718.0       1644.30

   PROM_ANUAL_MTO_OPERA  MAX_MTO_OPERA_Anual  Ratio_HospvsMtoTotal_t2 SEXO  \
0             18.644444                52.80                      NaN    M
1           2632.020000              5709.24                      NaN    M
2           4999.000000              4999.00                      0.0    M
3           4900.191666             11206.80                      NaN    F
4             12.370000                12.37                      NaN    F
5           1410.662727              5055.62                      NaN    M
6            218.393333               390.90                      NaN    M
7           1721.769166              3137.70                      0.0    M
8            986.337500              2119.00                      NaN    M
9           1581.335000              3565.14                      NaN    F

   ANTIGUEDAD_MES DEPARTAMENTO  SOW_BCO_T2  SOW_BCO_SEMESTRAL
0              58         LIMA    0.000000           0.000000
1              69        JUNIN    0.816134           0.930867
2              16       CALLAO    1.000000           1.000000
3              62         LIMA    0.413831           0.505504
4               5     AREQUIPA    0.000000           0.000000
5              44       CALLAO    0.181633           0.677393
6               4         LIMA    0.000000           0.000000
7             136         LIMA    1.000000           1.000000
8             292         LIMA    0.278603           0.541839
9              49     AREQUIPA    0.000000           0.000000

Últimas 10 filas:
       MES_T0  VENTA_SEGURO  NUM_TC_TOTAL_T2  SALDO_BCO_T2  LINEA_BCO_T2  \
45788  201505             0              4.0           0.0           0.0
45789  201505             0              1.0           0.0           0.0
45790  201505             0              2.0           0.0           0.0
45791  201506             0              1.0           0.0           0.0
45792  201505             0              2.0           0.0       12000.0
45793  201505             0              2.0           0.0           0.0
45794  201505             0              NaN           NaN           NaN
45795  201506             0              NaN           NaN           NaN
45796  201506             0              NaN           NaN           NaN
45797  201506             0              1.0           0.0           0.0

       USO_LINEA_BCO_T2  Nro_CTa_Ahorro_Bco_T1  Ahorro_Sldo_Bco_T1  \
45788               0.0                    0.0                 0.0
45789               0.0                    2.0              8217.0
45790               0.0                    0.0                 0.0
45791               0.0                    2.0              9261.0
45792               0.0                    2.0               804.0
45793               0.0                    NaN                 NaN
45794               NaN                    2.0              6189.0
45795               NaN                    1.0               138.0
45796               NaN                    0.0                 0.0
45797               0.0                    6.0              2762.0

       monto_ope_t2  PROM_ANUAL_MTO_OPERA  MAX_MTO_OPERA_Anual  \
45788       1054.41            688.975000              1054.41
45789          0.00            681.600000              1337.00
45790        810.00            810.000000               810.00
45791       4244.19           3466.162500             15419.30
45792        277.20            237.600000               277.20
45793           NaN                   NaN                  NaN
45794       1314.10           1314.100000              1314.10
45795         36.00             73.114285               220.00
45796          0.00            299.468750               830.00
45797          0.00            780.000000               780.00

       Ratio_HospvsMtoTotal_t2 SEXO  ANTIGUEDAD_MES DEPARTAMENTO  SOW_BCO_T2  \
45788                      NaN    F             105         LIMA         0.0
45789                      0.0    M              31       ANCASH         0.0
45790                      NaN    M             226         LIMA         0.0
45791                      0.0    F             204      UCAYALI         0.0
45792                      NaN    M               8  LA LIBERTAD         0.0
45793                      0.0    F               4         LIMA         0.0
45794                      NaN    F              76  LA LIBERTAD         0.0
45795                      NaN    F              20         LIMA         0.0
45796                      0.0    M              23        PIURA         0.0
45797                      0.0    M             125        PASCO         0.0

       SOW_BCO_SEMESTRAL
45788                0.0
45789                0.0
45790                0.0
45791                0.0
45792                0.0
45793                0.0
45794                0.0
45795                0.0
45796                0.0
45797                0.0

¿Datos nulos en el DataFrame?
MES_T0                         0
VENTA_SEGURO                   0
NUM_TC_TOTAL_T2            20401
SALDO_BCO_T2               20346
LINEA_BCO_T2               20346
USO_LINEA_BCO_T2           20346
Nro_CTa_Ahorro_Bco_T1       1393
Ahorro_Sldo_Bco_T1          1393
monto_ope_t2               12871
PROM_ANUAL_MTO_OPERA       12871
MAX_MTO_OPERA_Anual        12871
Ratio_HospvsMtoTotal_t2    16079
SEXO                           0
ANTIGUEDAD_MES                 0
DEPARTAMENTO                   0
SOW_BCO_T2                     0
SOW_BCO_SEMESTRAL              0
dtype: int64

Contenedor de las primeras 1000 filas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MES_T0                   1000 non-null   int64
 1   VENTA_SEGURO             1000 non-null   int64
 2   NUM_TC_TOTAL_T2          621 non-null    float64
 3   SALDO_BCO_T2             622 non-null    float64
 4   LINEA_BCO_T2             622 non-null    float64
 5   USO_LINEA_BCO_T2         622 non-null    float64
 6   Nro_CTa_Ahorro_Bco_T1    995 non-null    float64
 7   Ahorro_Sldo_Bco_T1       995 non-null    float64
 8   monto_ope_t2             765 non-null    float64
 9   PROM_ANUAL_MTO_OPERA     765 non-null    float64
 10  MAX_MTO_OPERA_Anual      765 non-null    float64
 11  Ratio_HospvsMtoTotal_t2  613 non-null    float64
 12  SEXO                     1000 non-null   object
 13  ANTIGUEDAD_MES           1000 non-null   int64
 14  DEPARTAMENTO             1000 non-null   object
 15  SOW_BCO_T2               1000 non-null   float64
 16  SOW_BCO_SEMESTRAL        1000 non-null   float64
dtypes: float64(12), int64(3), object(2)
memory usage: 132.9+ KB
None

Tabla de doble entrada con la media:
DEPARTAMENTO  AMAZONAS       ANCASH     APURIMAC     AREQUIPA    AYACUCHO  \
SEXO
F                0.000  1065.514851  3990.625000  1444.817539  508.200000
M             2556.375  1310.418879  2141.952381  1199.448074  925.842105

DEPARTAMENTO   CAJAMARCA       CALLAO       CUSCO  HUANCAVELICA      HUANUCO  \
SEXO
F             580.698113  1049.564039  950.392027      0.000000  1080.251309
M             980.520362  1676.081272  908.679167     74.416667  1204.081633

DEPARTAMENTO  ...       LORETO  MADRE DE DIOS     MOQUEGUA       PASCO  \
SEXO          ...
F             ...  1394.391566     365.090909  1284.862069  819.916667
M             ...  1462.060870    1435.133333  1216.931034  828.864407

DEPARTAMENTO        PIURA        PUNO   SAN MARTIN        TACNA       TUMBES  \
SEXO
F             1332.831832  209.527273  2054.173077  1023.364198  2206.166667
M             1171.162921  631.170213  1985.668293  1407.121547   801.215686

DEPARTAMENTO      UCAYALI
SEXO
F             1654.141414
M             1925.893855

[2 rows x 25 columns]